<a href="https://www.slideshare.net/{{ include.username }}/presentations"><span class="icon icon--slideshare">{% include icon-slideshare.svg %}</span><span class="username">{{ include.username }}</span></a>
